.row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.row-3 {
    grid-template-columns: repeat(3, 1fr) !important;
}

.row-4 {
    grid-template-columns: repeat(4, 1fr);
}

.center {
    text-align: center;
}

